@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-image {
  background-image: linear-gradient(rgb(209 213 219), rgba(0, 0, 0, 0)), url('/book.jpeg');
}

.info-bar {
  height: 10dvh
}

.logo-footer-bar {
  height: 10dvh
}

.home-screen-contents {
  height: 80dvh;
  margin-top: 10dvh;
}

.home-button {
  background: linear-gradient(to bottom, rgb(209 213 219) 0%, rgba(0, 0, 0, 0.75) 100%);
}

/* .athena-app-logo {
  margin-top: 10dvh;
  height: 40dvh
} */

.home-button-container {
  height: 7dvh
}

